@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster Two', cursive;
}

body {
    background-image: linear-gradient(270deg, hsl(5deg 100% 18%), hsl(238deg 100% 18%));
}

.heading:nth-child(1) {
    margin-top: 3rem;
}

.heading {
    text-align: center;
    line-height: 1.5;
    color: yellow;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin: 1rem 0;
}

#fire {
    position: absolute;
    top: -85px;
    left: 74px;
    width: 50px;
    height: 80px;
    border-radius: 100px 0 100px 0;
    transform: rotate(150deg);
    box-shadow: 0px 0px 0px 0px hsl(50deg 92% 49% / 96%);
    background: linear-gradient( 45deg, yellow, hsl(11deg 100% 50% / 90%));
    animation: toggleFire 2s infinite;
}

@keyframes toggleFire {
    form {
        box-shadow: 0px 0px 0px 0px hsl(50deg 92% 49% / 96%);
    }
    to {
        box-shadow: 0px 0px 20px 4px hsl(50deg 92% 49% / 96%);
    }
}

#rope {
    position: absolute;
    left: 97px;
    width: 4px;
    height: 9px;
    border-radius: 5px 5px 0 0;
    background: hsl(0deg 6% 21% / 82%);
}

#diya {
    position: relative; /* This is imp */
    /* overflow: hidden; */
    margin: 80px 0;
    height: 100px;
    width: 200px;
    border-radius: 0 0 90px 90px;
    box-shadow: inset 0px 0px 20px 5px hsl(0deg 100% 18%);
    background: linear-gradient(45deg, maroon, red);
    z-index: -2;
}

.circle {
    position: absolute;
    top: -15px;
    height: 35px;
    width: 200px;
    border-radius: 50%;
    background: #f26e04;
    box-shadow: inset 1px 11px 0px 10px hsl(0, 100%, 41%);
    z-index: -1;
}