/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Kalam', cursive; */
    font-family: 'Lobster Two', cursive;
}

body {
    background-image: linear-gradient( 270deg, hsl(0deg 100% 23%), hsl(227deg 100% 23%));
    /* background-color: hsl(239 96% 12% / 1); */
    /* background: hsl(239deg 72% 64%); */
}
.heading:nth-child(1){
    margin-top: 3rem;
}
.heading {
    text-align: center;
    line-height: 1.5;
    color: yellow;
}

.container {
    display: grid;
    place-items: center;
    margin: 80px 0;
}

#fire {
    height: 80px;
    width: 50px;
    border: 7px solid orange;
    border-radius: 100px 0 100px 0;
    transform: rotate(150deg);
    /* box-shadow: 0px 0px 20px 3px hsl(50deg 92% 49% / 96%); */
    box-shadow: 0px 0px 0px 0px hsl(50deg 92% 49% / 96%);
    background: yellow;
    animation: toggleFire 2s infinite;
}

@keyframes toggleFire {
    form {
        box-shadow: 0px 0px 0px 0px hsl(50deg 92% 49% / 96%);
    }
    to {
        box-shadow: 0px 0px 20px 4px hsl(50deg 92% 49% / 96%);
    }
}

#rope {
    position: relative;
    height: 9px;
    width: 4px;
    border-radius: 5px 5px 0 0;
    background: hsl(0deg 6% 21% / 82%);
}

.curve {
    position: absolute;
    height: 50px;
    width: 105px;
    top: -18px;
    background: hsl(60deg 100% 50% / 50%);
    border-radius: 100px 100px 0 0;
    transform: rotate( 180deg);
    box-shadow: inset 0px -20px 0px 13px brown;
}

.curve:nth-child(1) {
    left: -2px;
}

.curve:nth-child(2) {
    right: -2px;
}

#inCircle {
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 200px;
    border-radius: 0 0 100px 100px;
    box-shadow: inset 0px -2px 20px 11px hsl(30deg 100% 48% / 55%);
    background: brown;
}